.color-orange {
    color: orange;
}
.small-text {
	font-size: 12px;
}
.bold{
	font-weight: bold;
}
.bluebotton{
    background-color: gb(0, 113, 227);
    color: gb(0, 113, 227);
}

.supersmall-text {
	font-size: 10px;
}

body {
    text-align: center;
    font-family: sans-serif;
    color:rgb(29,29,31);
      }
  
  .image1 {
    width: 500px;
    margin-top: 50px;
    margin-left: 380px;
    padding-bottom: 50px;
    display: block;
    ;
}
.box1 {
    width: 400;
    height: 300;
    background-color: rgb(242, 242, 242);
    display: inline-block;
      }

.Small-image {
    padding-top: 50px;
    width: 400px;

}
.Small-image2 {
    padding-top: 10px;
    width: 200px;

}
.box2 {
    width: 400;
    height: 300;
    background-color: rgb(242, 242, 242);
    display: inline-block;
      }
.small-icon{
    margin-top: 50px;
    width: 20;
    height: 20;
}
footer {
    text-align: center;
    font-family: sans-serif;
    color:rgb(29,29,31);
    font-size: 9px;
      }